[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
black = "*"
pylint = "*"
jedi = "*"
ipython = "*"

[requires]
python_version = "3.9.4"
